<section class="random-beer">
  
  <div class="img-random">
    <img src="{{this.image_url}}"/>
  </div>
  <article class="info-random">
    <header>
      <h3>{{this.name}}</h3>
       <p><b>{{this.tagline}}</b></p>
    <p>{{this.description}}</p>
    <p><b>Food Pairing</b><p>
    <ul>
    {{#each food_pairing}}
     <li>{{this}}</li>
   {{/each}}
    </ul>
    <p><b>Brewers Tips</b><p></p>
    <p>{{this.brewers_tips}}</p>

    </header>
  </article> 
 
</section>

